* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh; 
    background-color: #cccccc; 
}

body {
    background-color: #bebebe;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
}
.menu-lateral {
    width: 250px;
    background-color: #010101; 
    color: #ffffff;
    padding: 20px;
}

.menu-lateral h1 {
    text-align: center;
    padding-bottom: 30px;
    font-family: serif;
}

.menu-lateral ul {
    list-style-type: none; 
    background-color: #e8920a; 
}

.menu-lateral li {
    border-bottom: 2px solid #000;
    border-left: 10px solid #300C07;
    transition: 0.3s;
}

.menu-lateral a {
    color: #000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    padding: 10px;
}

.menu-lateral li:hover {
    background-color: #ffcc00; 
    border-left: 10px solid #ff9900; 
}

.conteudo-principal {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.moldura {
    width: 450px;
    height: 90vh;
    border: 5px solid #ccaa00; 
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.barra-titulo {
    background-color: #000;
    color: #fff; 
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #ccaa00;
}

.barra-titulo h3 {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

iframe {
    flex-grow: 1;
    border: none;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #fff;
    width: 100%; 
    height: 100%; 
}


img {
    width: 100%;
    height: 100%;
    object-fit: fill; 
    display: block;

}